<footer class="container">
         
  <div class="footer-align">
  <span>© 2019 Copyright Christoph Ketzer </span> 
  <a href="#!">Impressum</a>
  </div>

</footer>
        


<!--Import  materialize.js-->
   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- add Eventlistener-->
  <script>

      document.addEventListener('DOMContentLoaded', function() {
          var sideN = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(sideN);
        });

      document.addEventListener('DOMContentLoaded', function() {
          var dropd = document.querySelectorAll('.dropdown-trigger');
          var instances = M.Dropdown.init(dropd);
        });

      document.addEventListener('DOMContentLoaded', function() {
          var ecaro = document.querySelectorAll('.carousel');
          var instances = M.Carousel.init(ecaro, {'duration' : 100, 'numVisible' : 5, 'indicators' : false, 'noWrap' : false});
        });

      document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
          });

  </script>

</body>